# Copy this file to ".env" and fill in your own values

# Local MongoDB:      mongodb://127.0.0.1:27017/employee_management
# MongoDB Atlas:       mongodb+srv://<user>:<password>@cluster0.mongodb.net/employee_management
MONGO_URI=mongodb://127.0.0.1:27017/employee_management

PORT=5000
